<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ai.viche.owld</string>
    <key>ProgramArguments</key>
    <array>
        <string>INSTALLDIR/owld</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>USER_HOME</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/owld.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/owld.err</string>
</dict>
</plist>